In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [56]:
data=pd.read_csv('nobel.csv')
data

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1030,Individual,Louis Brus,1943-00-00,"Cleveland, OH",United States of America,Male,Columbia University,"New York, NY",United States of America,NaN,NaN,NaN
996,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1031,Individual,Aleksey Yekimov,1945-00-00,NaN,USSR (now Russia),Male,Nanocrystals Technology Inc.,"New York, NY",United States of America,NaN,NaN,NaN
997,2023,Literature,The Nobel Prize in Literature 2023,"""for his innovative plays and prose which give...",1/1,1032,Individual,Jon Fosse,1959-09-29,Haugesund,Norway,Male,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",1/1,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaN,NaN,NaN

In [57]:
#most commonly awarded gender and birth country
top_gender=data['sex'].mode()[0]
top_country=data['birth_country'].mode()[0]
print(top_country)
print(top_gender)

United States of America
Male

In [58]:
#highest ratio of US-born Nobel Prize winners to total winners in all categories
data['Decade'] = (data['year'] // 10) * 10
'''This line of code performs integer division of the "year" values by 10. Integer division (//) rounds down the result to the nearest integer. This effectively rounds down the year to the nearest decade. For example:
2023 // 10 = 202
1994 // 10 = 199
2019 // 10 = 201
Multiply by 10 to get the decade value:
python
Copy
(data['year'] // 10) * 10
This line of code takes the result of the integer division from the previous step and multiplies it by 10 to get the actual decade value. For example:
202 * 10 = 2020
199 * 10 = 1990
201 * 10 = 2010'''
data_united=data[data['birth_country']=='United States of America']
us_born_ratio=data_united.groupby('Decade').size()/data.groupby('Decade').size()
max_decade_usa=us_born_ratio.idxmax()
max_decade_usa

2000

In [59]:
#decade and Nobel Prize category combination had the highest proportion of female
female_Data=data[data['sex']=='Female']
female_proportion=female_Data.groupby(['Decade','category']).size()/data.groupby(['Decade','category']).size()
max_female=female_proportion.idxmax()
max_female_dict={max_female[0]:max_female[1]}
max_female_dict

{2020: 'Literature'}

In [60]:
#first woman to receive a Nobel Prize, and in what category
first_woman=data[data['sex']=='Female'].sort_values(by='year').iloc[0]
#asending is default order ,i want first woman that mean i want from From oldest to newest
first_woman_name=first_woman['full_name']
first_woman_category=first_woman['category']
print(first_woman_name)
print(first_woman_category)

Marie Curie, née Sklodowska
Physics

In [61]:
#individuals or organizations have won more than one Nobel Prize throughout the years
repeat_winners=data.groupby('full_name' ).filter(lambda x: len(x)>1)
repeat_list=repeat_winners['full_name' ].unique().tolist()
repeat_list

['Marie Curie, née Sklodowska',
 'Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)',
 'John Bardeen',
 'Frederick Sanger']